{{>header}}
    <section id="main_header">
      <div class="container">
        <div class="row d-flex justify-content-center align-items-center">

          <div class="col-12 col-md-12 col-lg-5 main_header_left align-items-center text-center">
            <figure class="errimg">
              <img src="images/404-pages.jpg" alt="404-pages">
            </figure>
            
            <p>Welcome to Weather App.</p>
            <h1>{{errorMsg}}</h1>
            <a href="/" class="button">Go Back</a>
          </div>


        </div>
      </div>
    </section>

  </header>

  <main></main>
{{>footer}}