{{>header}}
    <section id="main_header">
      <div class="container">
        <div class="row">

          <div class="col-12 col-md-5 col-lg-5 main_header_right">
            <figure>
              <img src="images/vine-1948358__340.png" alt="Pintoo Chauhan">
            </figure>
            
          </div>

          <div class="col-12 col-md-7 col-lg-7 main_header_left">
            <p>Welcome to Weather App.</p>
            <h1>I Am A <span class="text-color">Mern Stack Developer</span> Backend Developer. </h1>
            <a href="/weather" class="button">About Me</a>
          </div>

        </div>
      </div>
    </section>

  </header>

  <main></main>
{{>footer}}